body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #132238;
    border: none;
}

h1 {
    color: #98CCD3;
}

h2 {
    color: #98CCD3;
}

.select-model {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    background-color: #219EBC;
}

.input {
    border: none;
    width: 97%;
    padding: 1em;
    background-color: #EBF0F6;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message.user-message {
    color: #EBF0F6;
}

.message.bot-message {
    color: #FFB703;
}

.message-area {
    line-height: 1.6;
    padding: 15px;
}

.send-button {
    margin-top: 0.5em;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #219EBC;
    transition-duration: 0.5s;
}

.send-button:hover {
    background-color: #364E68;
}

